* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.sidebar{
    width: 319px;
    height: 1080px;
    background-color: #222222;
}
h1{
    width: 146px;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    color: white;
    opacity: 100%;
    margin-left: 30px;
    padding-top: 42px;
}
ul{
    display: grid;
    grid-template-rows: 55px repeat(5);
    padding-top: 125px;
    margin-left: 99px;
    grid-row-gap: 54px;
    list-style: none;
    
}
li{
    height: 21px;
    font-size: 16px;
    line-height: 21px;
    color: white;
}
.wrapper{
    margin-left: -60px;
    background-color: #FF2288;
    width: 259px;
    height: 60px;
    border-radius: 12px;  
    text-align: center;
}
.sidebar-icons{
    height: 24px;
    width: 24px;
    margin-right: 10px;
    margin-left: -30px;
}
h2{
    height: 16px;
    width: 66px;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 60px;
    margin-top: 80px;
    margin-bottom: -80px;
    
}
.sidebar-bottom-icon{  
    height: 44px;
    width: 44px;
    margin-left: -30px;
    
}
.load-more{
    width: 94px;
    height: 19px;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: -30px;
}
.burger span{
    width: 26px;
    height: 11px;
    margin: 5px 0;
    color: #FFFFFF;
}